@page
@model TrabajoWebAhoraSi.Pages.RazorPages.EmpleadoModel
@{
}
<table class="table">
    <thead>
        <tr>
            <th>ID Empleado</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Cargo</th>
            <th>Sueldo Base</th>
            <th>Fecha de Contratación</th>
            <th>Años Trabajados</th>
            <th>Sueldo Total</th>
        </tr>
    </thead>
   
</table>