@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!--NOMBRE Y DESCRIPCION DEL PROYECTO-->
<div class="text-center">
	<h1 class="display-4">Practica N#3</h1>
	<h1 class="display-4">Sistema Web de Registro de Empleado</h1>
</div>

<div class="text-center">
	<h2 class="display-4">Integrantes:</h2>
	<div class="row">
		<div class="col-md-6">
			<h3>* Mauricio Morales Fernandez</h3>
			<h3>* Alejandro Sanchez Rubin de Celis</h3>
			<h3>* Nelly Elizabeth Lara Benitez</h3>
			<h3>* Orlando Edizon Del Villar Silva</h3>
			<h3>* Carlos Eduardo Cortez Centellas</h3>
		</div>
		<div class="col-md-6">
			<img src="~/img/logo.gif" alt="Imagen de Integrantes" class="img-fluid">
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
		</div>
	</div>
</div>

<div class="text-center1">
	<div class="row">
		<div class="col">
			<h1>Descripcion del proyecto:</h1>
			<div>
				<br />
				<h2>- Se realiza el registro de datos del empleado</h2>
				<h2>- Se realiza el registro de datos de cargo con el salario basico</h2>
				<h2>- Se realiza el registro de sueldo del empleado, descuento del salario, años de antiguedad, bono</h2>
			</div>
		</div>
		<div class="col">
			<h1>Objetivos:</h1>
			<div>
				<br />
				<br />
				<br />
				<h2>- Mostrar datos y resultados</h2>
				<h2>- Busqueda de cada campo</h2>
				<h2>- Validaciones</h2>
				<h2>- Diseño Amigable</h2>
			</div>
		</div>
	</div>
</div>

<div class="text-center">

	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>